<nav>
    <h1>IMAGE GALLERY</h1>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img" src="/assets/images/amanita-muscaria-fly-agaric-fungus-259660.jpg" alt="Lights" appHoverImage>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img" src="/assets/images/animal-animal-photography-blur-572861.jpg" alt="Nature">
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img" src="/assets/images/animal-animal-photography-canidae-45242.jpg" alt="Fjords">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img" src="/assets/images/animal-animal-photography-daylight-36762.jpg" alt="Lights">
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img" src="/assets/images/animal-antler-antlers-219906.jpg" alt="Nature">
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img" src="/assets/images/art-asian-buffalo-46152.jpg" alt="Fjords">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img" src="/assets/images/art-ball-blur-235615.jpg" alt="Lights">
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img" src="/assets/images/beautiful-blur-close-up-259707.jpg" alt="Nature">
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img" src="/assets/images/bridge-daylight-environment-775201.jpg" alt="Fjords">
            </div>
        </div>
    </div>
    <div class="hoverDiv">
    </div>
</div>